
:root {
    --color-white: #FFFFFF;
    --color-lighter-light-gray: #f2f2f2;
    --color-light-gray: #e0e0e0;
    --color-darker-light-gray: #c2c2c2;
    --color-gray: #9c9c9c;
    --color-blue: #294dcf;
    --color-ok: #1aa60d;
    --color-nok: #d4061e;
    --color-gold: #e8a813;
    
    --color-empty-cell: var(--color-light-gray);
    --color-highlight-empty-cell: var(--color-darker-light-gray);
    --color-filled-cell: var(--color-blue);
    --color-placed-letter-valid: var(--color-ok);
    --color-placed-letter-invalid: var(--color-nok);
    --color-winner: var(--color-gold);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;    
}

.game-board {
    flex-grow: 1;
    //background-color: red;
    background-color: var(--color-white);
}

.game-board canvas {
    width: 100%;
    height: 100%;
}

.game-menu {
    position: relative;
    flex-grow: 0;
    height: 5cm;
    background-color: var(--color-white);
    border-top: 4px solid #ededed;
    /* background-color: #f7f7f7; */
}

.game-menu-left {
    position: absolute;
    left: 0;
    height: 100%;
    padding-left: 1.5cm;
    padding-right: 1.5cm;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.game-menu-right {
    position: absolute;
    right: 0;
    height: 100%;
    padding-left: 1.5cm;
    padding-right: 1.5cm;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.letter-container {
    position: relative;    
    display: block;
}

.letter {
    font-size: 0.5cm;
    /* font-weight: bold; */
    width: 1cm;
    height: 1cm;
    padding: /* 0.25cm; */ 0.2cm 0.3cm 0.3cm 0.2cm;
    background-color: var(--color-filled-cell);
    color: var(--color-white);
    /* border-radius: 0.25cm; */
    margin: 0;
    cursor: pointer;

    position: absolute;    
    top: 50%;    

    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.letter-score {
    position: absolute;
    bottom: 0.1cm;
    right: 0.2cm;
    font-size: 0.3cm;
    color: white;
}

.v-center {
    transform: translateY(-50%);
}

.smooth-slide {
    transition: left 0.5s, top 0.5s, opacity 0.5s, transform 0.5s;
}

button {
    cursor: pointer;
    padding: 0.25cm;
    margin: 0.1cm;
    font-size: 0.5cm;
    border: none;
    color: white;
    font-family: "Roboto Slab", serif;
    background-color: var(--color-blue);
}

button:hover {
    filter: brightness(90%);
}

button:active {
    filter: brightness(80%);
}

.buttons-vertical-panel {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;

}

.ok {
    background-color: var(--color-ok);
}

.nok {
    background-color: var(--color-nok);
}

.score {
    font-size: 0.6cm;
    transition: transform 0.3s;
    z-index: 5;
    font-weight: normal;
    width: 2cm;
    height: 2cm;
    background-color: var(--color-filled-cell);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-board {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 10cm;
}

.message {
    position: relative;
    width: 100%;

    padding: 0.25cm;
    font-size: 0.5cm;

    animation-name: slide-in-from-left;
    animation-duration: 0.25s;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.8;
}

.username-display {
    margin: 0.5cm;
    font-size: 0.6cm;
    font-weight: 600;
}

.username-prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    max-width: 7.5cm;

    background-color: var(--color-lighter-light-gray);
    padding: 0.5cm;
    margin: 0.5cm;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.username-prompt label {
    font-size: 0.3cm;
    color: var(--color-darker-light-gray);
    text-align: left;

    margin: 0.1cm 0.1cm 0 0.1cm;
}

input[type=text], input[type=password] {
    background-color: var(--color-white);
    border: 1px solid var(--color-darker-light-gray);
    padding: 0.1cm;
    margin: 0.1cm;   
}

select {
    background-color: var(--color-white);
    border: 1px solid var(--color-darker-light-gray);
    padding: 0.1cm;
    margin: 0.1cm;
}

.validation-error {
    color: var(--color-nok);
    font-size: 0.3cm;
    text-align: left;
    margin: 0.1cm 0.1cm 0 0.1cm;
}

.leaderboard {
    position: absolute;
    right: 0.2cm;
    top: 0.2cm;
    width: 5cm;
    overflow: visible;
    height: 0;
    opacity: 0.7;
    z-index: 10;
}

.leaderboard-header {
    position: relative;
    text-align: center;
    font-size: 0.7cm;
    margin: 0.2cm;
    border-bottom: 3px solid var(--color-gray);
}

.leaderboard-content {
    position: relative;    
}

.leaderboard-item {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 0.5cm;
    transition: top 0.3s, background-color 0.3s;
    color: black;
    background-color: var(--color-lighter-light-gray);
}

.leaderboard-item:nth-child(2n+1) {
    background-color: var(--color-darker-light-gray);
}

.leaderboard-item:nth-child(1) {
    background-color: var(--color-winner);
    color: white;
}

.leaderboard-item-username {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5cm;
}

.leaderboard-item-score {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5cm;
}

@keyframes slide-in-from-left {
    from {
        transform: translateY(-3cm);
        opacity: 0;
    }

    to {
        transform: none;        
    }
}